body{
    background-color: rgb(87, 190, 154);
}

.Container{
 width: 50%;
 height: 50vh;
 display: flex;
 box-shadow: 5px 5px 10px rgb(172, 97, 97);
 border-radius: 10%;
 justify-content: center;
 align-items: center;
}


.login{
    display: flex;
    align-items: center;
}
form{
    width: 30%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
   
}
.caixa-email{
 display: flex;
 flex-direction: column;
 margin-bottom: 1rem;
}
.caixa-senha{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}